h1 {
    font-family:tahoma;
    text-align:center;
    color:white;
    box-shadow:2px 2px 10px 2px black;
  }
  p  {
    font-family:tahoma;
    text-align:center;
    margin-top:-15;
    margin-bottom:30;
    color:white;
    }
  body {padding:100px;
        margin:0 auto;
        margin-top:-30px;
        font-size:20px;}
  hr {height:10px;
      background-color:white;
      margin-bottom:15px;
      opacity:0.3}
  .container {background-color:rgba(0, 127, 200, 0.75);
  padding-left:10px;
  box-shadow:0px 0px 10px 5px rgb(0, 127, 200)
  }
  input {
         display:block;
         margin-bottom:30;
         font-size:15px;
  }
  body {background-image:url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-position:center;}
  .chac {display:inline;}
  .radio {display:inline;}
  .fieldset {
    padding-bottom:-0;
    margin-top:10;
  background-color:white; 
  border:auto;
  margin-bottom:30; 
  }
  
  .submit {padding:5;
           margin:auto;
           margin-top:20;
           margin-bottom:20;
           background:#00ff70
          }
  textarea {display:block;
            width:100%;
            margin-top:10;
          }
  dkcfwmnkcl;nwlekcn